<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcl.hw.mapper.UserInfoMapper">
    <!--<resultMap id="userInfoMap" type="com.lcl.hw.domain.UserInfo">
        <id property="user_id" column="user_id"/>
        <result property="user_name" column="user_name"/>
        <result property="user_pwd" column="user_pwd"/>
        <result property="user_sex" column="user_sex"/>
        <result property="user_pwd" column="user_pwd"/>
        <result property="user_tel" column="user_tel"/>
        <association property="department" column="user_dept_id" javaType="com.lcl.hw.domain.Department">
            <id property="id" column="dept_id"/>
            <result property="name" column="name"/>
        </association>
        &lt;!&ndash; ofType指定UserInfo集合中的对象类型 &ndash;&gt;
        <collection property="jobInfos" ofType="com.lcl.hw.domain.JobInfo">
            <id property="id" column="job_id"/>
            <result property="name" column="s_name"/>
        </collection>
    </resultMap>-->
    <select id="findByUserId" resultType="UserInfo">
        SELECT  FROM USERINFO A
        LEFT JOIN USER_ROLE_MAP B ON A.USERID = B.USERID
        LEFT JOIN ROLEINFO C ON ON B.ROLEID = C.ID
        WHERE A.USERID=#{userid}

    </select>
</mapper>
