<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--Redis Sharding方式-->
    <!--<bean id="shardedJedisPool" class="com.citicbank.framework.utils.EasyShardedJedisPool">-->
        <!--<constructor-arg index="0" ref="jedisPoolConfig"/>-->
        <!--<constructor-arg index="1" ref="redisServersInfo"/>-->
    <!--</bean>-->

    <!--Redis Cluster方式-->
    <!--<bean id="jedisCluster" class="com.citicbank.framework.utils.EasyJedisCluster" >-->
        <!--<constructor-arg index="0" ref="redisServersInfo"/>-->
        <!--<constructor-arg index="1" value="${redis_timeout}"/>-->
        <!--<constructor-arg index="2" value="${redis_max_redirections}"/>-->
        <!--<constructor-arg index="3" ref="jedisPoolConfig"/>-->
    <!--</bean>-->

    <bean id="redisServersInfo" class="com.citicbank.framework.utils.RedisServersInfo">
        <property name="serversInfoString" value="${redis_server_list}"/>
        <property name="password" value="${redis_password}"/>
        <property name="timeout" value="${redis_timeout}"/>
        <property name="weight" value="${redis_weight}"/>
    </bean>

    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxTotal" value="${redis_pool_max_total}"/>
        <property name="maxIdle" value="${redis_pool_max_idle}"/>
        <property name="maxWaitMillis" value="${redis_pool_max_wait}"/>
    </bean>

    <!--Redis Sharding方式-->
    <bean class="com.citicbank.framework.config.ShardedJedisConfig"/>

    <!--Redis Cluster方式-->
    <bean class="com.citicbank.framework.config.JedisClusterConfig" />

    <bean id="cacheClient" class="com.citicbank.framework.utils.RedisClientImpl"></bean>
    <bean id="cacheBatchClient" class="com.citicbank.framework.batch.RedisBatchClient"></bean>

    <bean id="cacheUtils" class="com.citicbank.framework.utils.CacheUtils"></bean>
    <bean id="cacheBatchUtils" class="com.citicbank.framework.batch.CacheBatchUtils"></bean>
</beans>
